td {
  font-size: 40px;
  text-align: center;
}

th {
  font-size: 25px;
  width: 14.28%;
  word-wrap: break-word;
  text-align: center;
}

.table-bordered td, .table-bordered th{
  border-color: #bbbcb7 !important;
  border-width: medium !important;
}


.modal-body, .modal-title {

    font-size: 25px;
}


.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    text-align: center;
    padding: auto;
}
